<%- include('templates/cabecera',
    {titulo:'Cargar nuevo producto'}
)%><body>
    <div>
          <h1>Crear</h1>
          <form action="/producto" method="POST">
              <input type="text" placeholder="nombre" class="form=control my-2" name="nombre">
              <input type="number" placeholder="precio" class="form=control my-2" name="precio">

            <button class="btn btn-success btn-block" type="submit">Aceptar</button>  
            </form>
    </div>
  
<%- include('templates/footer') %>