<%- include('templates/cabecera',
    {titulo:'Principal EJS'}
)%>

<h1 class="text-primary">Pagina principal con EJS</h1>
<h2><%= titulo %></h2>
<h1>Te falta calle esteban</h1>

<%- include('templates/footer') %>